@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --v-theme-font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', serif;
  background-color: #f9f9f9;
  color: #17233e;
}
